
    <form (submit)="loginUser($event)"  >
     
      <div class="form-group">
        <div>
          <label for="username">Identifiant</label>
          <input type="text" autocomplete="off" placeholder="Username" id="username">
        </div>
        <div>
          <label for="password">Mot de Passe</label>
          <input type="text" autocomplete="off" placeholder="Password" id="password">
        </div>
        <div>
            <button type="submit" id="submit" class="btn btn-success">Submit</button>  
        </div>
      </div>
    </form>
  