<p>connection-marsupilami works!</p>
<app-hero-detail [hero]="selectedHero"></app-hero-detail>
<div  class="edit-form">
    <h4>Connexion</h4>
    <form>
      <div class="form-group">
        <label for="identifiant">Identifiant</label>
        <input
          type="text"
          class="form-control"
          id="identifiant"
          
          name="identifiant"
        />
      </div>
      <div class="form-group">
        <label for="password">Mot de passe</label>
        <input
          type="text"
          class="form-control"
          id="password"
        
          name="password"
        />
      </div>
      
  
    </form>
  
   
  
    <button class="m-3 btn btn-sm " (click)="checkMarsupilami()">
      Connextion
    </button>
  
    <button type="submit" class="m-3 btn btn-sm " (click)="inscriptionMarsupilami()">
      Inscription
    </button>
   
  </div>
  
  